[Unit]
Description=Executar Backup diàriament a les 2 de la matinada (AM)

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target